{% extends '_base.html' %}

{% block body %}

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Site List</h1>
</div>




{% if context_data.error %}
    There was an error at the remote end. The status code was <strong>{{ context_data.status_code }}</strong>  and the body of the response read:

    <div class="alert alert-danger" role="alert">
      {{ context_data.message }}
    </div>

{% else %}

    <table class="table table-striped">
    <tr>
        <th></th>
        <th>Created</th>
        <th>Status</th>
        <th>Active Files</th>
        <th>Deleted Files</th>
        <th>Total</th>
    </tr>
    <tr>
        <td colspan="2"></td>
        <td>
            <select class="form-control-sm"  name="site-status" id="site-status">
                <option id="site-status-options" value="/sites/">All</option>
                <option id="site-status-options" value="/sites/?status=active">Active</option>
                <option id="site-status-options" value="/sites/?status=archived">Archived</option>
                <option id="site-status-options" value="/sites/?status=readonly">Read Only</option>
                <option id="site-status-options" value="/sites/?status=preparation">Preparation</option>
            </select>
        </td>
        <td colspan="3"></td>
    </tr>
    {% for i in context_data.site_list %}
    <tr id="{{ i.id }}">
    <td ><a href="/site/{{ i.id }}">{{ i.name }}</a></td>
    <td>{{ i.created_date }}</td>
    <td>{{ i.status }}</td>
    <td>{{ i.active_document_size|filesizeformat }}</td>
    <td>{{ i.deleted_document_size|filesizeformat }}</td>
    <td>{{ i.total_size|filesizeformat }}</td>
</tr>
{% endfor %}
{% endif %}


</table>

<div class="pagination-container">
    <ul class="pagination">
        <li class="page-item"><a class="page-link" id="first-pag-link" href="/sites/">First</a></li>
        <li class="page-item"><a  class="page-link"id="prev-pag-link" href="">Prev</a></li>
        <li class="page-item"><a class="page-link" id="next-pag-link"href="">Next</a></li>
        <li class="page-item"><a  class="page-link" id="last-pag-link"href="/sites/?offset={{ context_data.final_offset }}">Last</a></li>
    </ul>
</div>

{% endblock body %}